.boxrow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.boxcol {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .boxrow{
        flex-direction: column;
    }
}